{% extends 'base.html' %}

{% load static %}
 {% load crispy_forms_tags %}
{% block content  %}    
<main class="main-content position-relative border-radius-lg ">
          <div class="container-fluid py-4">
            <div class="row ">
              <div class="col-12">
                  <div class="row">
                    <div class="col-12 col-lg-12 m-auto">
                      <form  method="POST" action="" class="multisteps-form__form mb-12">
                        {% csrf_token %}
                        <div class="card mt-4" id="basic-info">
                          <div class="card-header">                          
                          <h5 class="font-weight-bolder mb-0">Alamat</h5>
                          <p class="mb-0 text-sm">Mandatory informations</p>
                          </div>
                          <div class="card-body pt-0">
                            <div class="row ">
                              <div class="col-12">                                
                                <div class="form-group ">
                                  {{form.alamat|as_crispy_field}}
                                </div>
                              </div>                                                        
                            </div>
                            <div class="row">
                              <div class="col-sm-4 col-6">
                                <div>
                                  {{form.kelurahan|as_crispy_field}}
                                </div>
                              </div>
                              <div class="col-sm-8">
                                <div class="row">
                                  <div class="col-sm-6 col-5">
                                    <div>
                                  {{form.kota|as_crispy_field}}
                                    </div>
                                  </div>
                                  <div class="col-sm-6 col-5">
                                    <div>
                                      {{form.provinsi|as_crispy_field}}
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="button-row d-flex mt-4">                        
                              <input type="submit"  name="Submit" button class="btn bg-gradient-dark ms-auto mb-0 js-btn-next" type="button"></button>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                    </div>
                  
                </div>
              </div>  
</main>






<script src="{% static "assets/js/plugins/perfect-scrollbar.min.js" %}"></script>
<script src="{% static "assets/js/plugins/smooth-scrollbar.min.js" %}"></script>
<script src="{% static "assets/js/plugins/multistep-form.js" %}"></script>
<!-- Kanban scripts -->
<script src="{% static "assets/js/plugins/dragula/dragula.min.js" %}"></script>
<script src="{% static "assets/js/plugins/jkanban/jkanban.js" %}"></script>


           
          
     

 
{% endblock content  %}
